{% if site.data.sitetext.slides != nill %}
<div id="carouselheader" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    
	{% for slide in site.data.sitetext.slides %}
    <div class="carousel-item{% if slide.transition == true %} active{% endif %}">
      <img loading="lazy" src="{{ slide.image }}" class="d-block w-100" alt="{{ slide.headline }}">
       <div class="carousel-caption">
        <div class="card" style="background:#00000095; color: #ffffff; border-radius: 30px;">
          <div class="card-body">
            <h5 class="card-title">{{ slide.headline }}</h5>
            <p class="card-text">{{ slide.details }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
    
  </div>
  
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselheader"  data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselheader"  data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  
</div>
{% endif %}
